<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>After</key>
			<string>preview-result</string>
			<key>Image File</key>
			<string>rouble.png</string>
			<key>Regular Expression</key>
			<string>^((USD)|(JPY)|[\$£€￥])[ ]?\d+[,\. ]?\d*\b|\d+[,\.]?\d+[ ]?([\$£€￥]|([ ]?(USD)|(JPY)))$</string>
			<key>Script Interpreter</key>
			<string>/usr/bin/python</string>
			<key>Shell Script File</key>
			<string>rouble.py</string>
			<key>Title</key>
			<dict>
				<key>en</key>
				<string>RUB Converter</string>
			</dict>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Convert USD/Pound/Euro/JPY to RUB</string>
	<key>Extension Identifier</key>
	<string>im.kernelpanic.popclip.extension.rub.converter</string>
	<key>Extension Name</key>
	<dict>
		<key>en</key>
		<string>RUB Converter</string>
	</dict>
	<key>Required Software Version</key>
	<integer>601</integer>
</dict>
</plist>
